# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Data files
data/processed/
data/interim/

# Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/
